.LoaderDefault-Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  background-color: rgba(22, 28, 36, 1);

  background-image: url(../../assets/cyan-blur.png), url(../../assets/red-blur.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 50%, 50%;

  .LoaderDefault {
    padding: 0 10px;
    min-width: 300px;
    width: 100%;
    max-width: 400px;

    .loader {
      position: relative;
      overflow: hidden;
      display: block;
      height: 4px;
      z-index: 0;
      border-radius: 4px;
      margin-bottom: 16px;
      width: 100%;

      .firstLine {
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        transition: transform 0.2s linear 0s;
        transform-origin: left center;
        background-color: currentcolor;
        width: auto;
        animation: 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) 0s infinite normal none running LoaderDefault-Animation;
      }

      .secondLine {
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        transition: transform 0.2s linear 0s;
        transform-origin: left center;
        background-color: currentcolor;
        opacity: 0.3;
        width: auto;
        animation: 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.15s infinite normal none running LoaderDefault-Animation;
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0px;
        background-color: currentcolor;
        opacity: 0.3;
      }

      @keyframes LoaderDefault-Animation {
        0% {
          left: -200%;
          right: 100%;
        }
        60% {
          left: 107%;
          right: -8%;
        }
        100% {
          left: 107%;
          right: -8%;
        }
      }
    }
  }
}
