.FormDefault-Container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(22, 28, 36, 0.8);
  z-index: 20;

  .FormDefault {
    min-width: 300px;
    width: 100%;
    max-width: 700px;
    min-height: 100px;
    max-height: calc(100vh - 150px);
    margin: 0 10px;
    overflow-y: auto;
    border-radius: 24px;
    background-color: rgb(33, 43, 54);

    .title {
      margin: 0px;
      font-weight: 700;
      line-height: 1.55556;
      font-size: 1.0625rem;
      flex: 0 0 auto;
      padding: 24px;
      font-size: 18px;
    }

    .inputBlock {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px 16px;
      padding: 0 24px;
    }

    .buttonBlock {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: end;
      justify-content: flex-end;
      padding: 24px;

      & > * {
        margin-left: 10px;
      }
    }

    .errorText {
      color: rgb(255, 86, 48);
      line-height: 1.5;
      font-size: 14px;
      text-align: left;
      margin: 0 14px 20px;
    }

    @media (max-width: 600px) {
      .inputBlock {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .aloneInput {
    max-width: 400px;

    .inputBlock {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
