.Plug-Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

  img {
    width: 200px;
    height: 200px;
    margin-top: 150px;
  }

  .descriptionProject {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 2em;
    margin-left: 10px;
    margin-right: 10px;

    a {
      color: rgb(32, 101, 209);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .network {
    font-size: 18px;
    max-width: 600px;
    line-height: 2em;

    a {
      color: rgb(32, 101, 209);
    }
  }

  .gitHub {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
