.HeadButtons-Container {
  height: 48px;

  .HeadButtons {
    display: flex;
    padding: 0 20px;

    .HeadButtons-Button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 48px;
      min-height: 48px;
      background-color: transparent;
      outline: 0px;
      border: 0px;
      margin: 0px;
      padding: 0px;
      border-radius: 0px;
      cursor: pointer;
      user-select: none;
      vertical-align: middle;
      text-align: center;
      appearance: none;
      line-height: 1.25;
      font-size: 0.875rem;
      text-transform: unset;
      max-width: 360px;
      flex-shrink: 0;
      overflow: hidden;
      white-space: normal;
      color: rgb(145, 158, 171);
      font-weight: 600;

      margin-right: 40px;
    }

    .active {
      color: rgb(255, 255, 255);
    }
  }

  .lineContainer {
    height: 2px;
    width: 100%;
    padding: 0 20px;
    background-color: #293440;

    .line {
      position: relative;
      height: 2px;
      width: 100%;

      .slider {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: rgb(255, 255, 255);
      }
    }
  }
}
