.Header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #010409;
  border-bottom: 1px solid #30363d;

  .leftBlock {
    display: flex;
    align-items: center;
    height: 100%;

    .leftBlock-span {
      margin-right: 5px;
    }

    .menuButton {
      display: none;
    }
  }

  .rightBlock {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    .rightBlock-span {
      margin-left: 5px;
    }
  }
}

// @media all and (max-width: 1000px) {
//   $sidebarSize: 0px; //80px

//   .mainLayout {
//     grid-template-columns: $sidebarSize 1fr;
//   }
// }

@media all and (max-width: 700px) {
  .Header1 {
    .leftBlock {
      .menuButton {
        display: flex;
      }
    }
  }
}
