.gridContainer {
  display: grid;
  grid-template-columns: 300px 400px 1fr;
  height: calc(100vh - 50px);
}

//
//
//

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #21262d;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  color: #fff;

  .svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;

    .inner-svg {
      fill: #fff;
      width: 25px;
      height: 25px;
    }
  }

  &:hover {
    border-color: #6e7681;
  }
}

//
//
//

@media all and (max-width: 700px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
