.nameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 10px;

  .inputBlock {
    width: 350px;
  }

  .buttonBlock {
    & > *:not(:first-child) {
      margin-left: 10px;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: calc(100vh - 110px);

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 43, 54);
    margin: 0 10px;
    padding: 20px;
    border-radius: 16px;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .sidebar_container {
      color: rgb(99, 115, 129);

      & > * {
        margin-bottom: 5px;
      }
    }

    .additionalField {
      display: flex;
      align-items: center;

      & > *:last-child {
        margin-left: 10px;
        margin-top: 10px;
      }
    }

    .sidebarButtonBlock {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;

      & > * {
        margin-left: 10px;
      }
    }

    input {
      display: block;
    }
    // background-color: red;
  }
}
