.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 500px;
  padding: 10px;

  .content_container {
    width: 100%;
    height: min-content;
    max-width: 500px;
    overflow: hidden;
    border-radius: 48px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px 0px, rgba(0, 0, 0, 0.12) 0px 12px 24px -4px;

    .content_block {
      padding: 20px;

      .textBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        h1 {
          font-size: 4em;
          font-family: 'Courgette', cursive;
        }

        h2 {
          font-size: 2em;
          color: rgb(145, 158, 171);
          font-family: 'Courgette', cursive;
        }
      }

      form {
        padding: 20px;
        margin: 10px 0;

        .inputBlock {
          margin-bottom: 15px;

          & > *:not(:last-child) {
            margin-bottom: 5px;
          }
        }

        .formButton {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        .linkButton {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 30px;
          margin-top: 10px;

          span {
            color: rgb(145, 158, 171);
            font-family: 'Courgette', cursive;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
