.listGroups-desktop {
  background-color: #0d1117;
  border-right: 1px solid #21262d;
  padding: 25px;
  overflow: auto;

  .inner-listGroups {
    width: 100%;
  }
  .groupButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    background-color: #24292e;
    cursor: pointer;

    .name {
      display: flex;
      height: 100%;
      align-items: center;
    }

    .buttonContainer {
      display: flex;
      height: 100%;
      align-items: center;
    }

    &:hover {
      background-color: #3b434b;
    }
  }
}

//
// Mobile
//

.listGroups-mobile-close {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(110, 118, 129, 0.4);
}

.listGroups-mobile {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  min-width: 300px;
  width: calc(100% - 60px);
  background-color: #0d1117;
  border-right: 1px solid #21262d;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 25px;
  overflow: auto;

  .listGroups-desktop {
    border: none;
  }
}

//
//
//

.globalPopupClose {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(110, 118, 129, 0.4);
}

.globalPopupContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 300px;
  max-width: 400px;
  margin: 70px auto;
}
